#playing-area {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.door-1-outer {
    background-color: transparent;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.door-1-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.clicker .door-1-inner {
    transform: rotateY(180deg);
}

#door-1-front,
#door-1-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border: .1em solid teal;
    border-radius: 50%;
    backface-visibility: hidden;
}

#door-1-front {
    background-color: aqua;
}

#door-1-back {
    background-color: gray;
    transform: rotateY(180deg);
}

/* door2 */
.door-2-outer {
    background-color: transparent;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.door-2-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.clicker .door-2-inner {
    transform: rotateY(180deg);
}

#door-2-front,
#door-2-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border: .1em solid teal;
    border-radius: 50%;
    backface-visibility: hidden;
}

#door-2-front {
    background-color: aqua;
}

#door-2-back {
    background-color: gray;
    transform: rotateY(180deg);
}

/* door3 */
.door-3-outer {
    background-color: transparent;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.door-3-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.clicker .door-3-inner {
    transform: rotateY(180deg);
}

#door-3-front,
#door-3-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border: .1em solid teal;
    border-radius: 50%;
    backface-visibility: hidden;
}

#door-3-front {
    background-color: aqua;
}

#door-3-back {
    background-color: gray;
    transform: rotateY(180deg);
}

button {
    margin-top: 2em;
}

#reset-button, #round2button, #keep-button, #change-button {
visibility: hidden;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: .8em;
    margin-bottom: .25em;
}

/*tablet query*/
@media only screen and (min-width: 768px) {

    footer {
        flex-direction: row;
        margin-top: 1.25em;
        font-size: .9em;
    }

}

/*desktop query*/
@media only screen and (min-width: 992px) {
    footer {
        font-size: 1em;
    }

}